body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.filter-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#news-stories {
  width: 70%;
  float: left;
}

#floating-sidebar {
  width: 28%;
  position: fixed;
  right: 1%;
  top: 10%;
  background-color: #f7f7f7;
  padding: 1rem;
  border: 1px solid #ddd
}
